/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a{
    color: white;
}
a:hover{
    color: gray;
    text-decoration: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html, body {
    width: 100%;
    height: 100%;
    background: #ccc;
    padding: 0;
    margin: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*Меню слева*/

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #11101D;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

    .sidebar.open {
        width: 250px;
    }

.logo-details a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

    .logo-details a p {
        margin: 0;
    }

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

    .sidebar .logo-details .icon {
        opacity: 0;
        transition: all 0.5s ease;
    }

    .sidebar .logo-details .logo_name {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        opacity: 0;
        visibility: hidden;
        display: none;
        transition: all 0.5s ease;
    }

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    display: block;
    opacity: 1;
    visibility: visible;
}

.sidebar .logo-details #btn_nav_menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn_nav_menu {
    text-align: right;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
    padding: 0;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

    .sidebar li .tooltip {
        position: absolute;
        top: -20px;
        left: calc(100% + 15px);
        z-index: 3;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        padding: 6px 12px;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 400;
        opacity: 0;
        white-space: nowrap;
        pointer-events: none;
        transition: 0s;
    }

    .sidebar li:hover .tooltip {
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
        top: 50%;
        transform: translateY(-50%);
    }

.sidebar.open li .tooltip {
    display: none;
}
/*
    .sidebar input {
        font-size: 15px;
        color: #FFF;
        font-weight: 400;
        outline: none;
        height: 50px;
        width: 100%;
        width: 50px;
        border: none;
        border-radius: 12px;
        transition: all 0.5s ease;
        background: #1d1b31;
    }*/

/* .sidebar.open input {
        padding: 0 20px 0 50px;
        width: 100%;
    }

    .sidebar .bx-search {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 22px;
        background: #1d1b31;
        color: #FFF;
    }*/
/*
    .sidebar.open .bx-search:hover {
        background: #1d1b31;
        color: #FFF;
    }*/


.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101D;
}

    .sidebar li a:hover {
        background: #FFF;
    }

    .sidebar li a .links_name {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;
    }

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

    .sidebar .profile #log_out:hover {
        background: #fff;
        color: black;
        cursor: pointer;
    }

.sidebar.open .profile #log_out {
    width: 50px;
}



.home-section {
    position: relative;
    background: #1f454e;
    height: 100%;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    // min-width: fit-content;
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
}


@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}

/**/


.myForm{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/**/
.main_operation {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background: #1f454e;
}

.operation {
    width: 1100px;
    margin: 0;
    background: #24515c;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}

.operation_cont {
    min-height: 800px;
}

.operation_cont_type {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    min-height: 800px;
}

    .operation_cont_type li {
        border-top: 1px solid #267e7c;
        height: auto;
        display: flex;
        justify-content: space-between;
        min-height: 200px;
        margin-top: 18px;
    }

.operation_table {
    margin-top: 18px;
    /*width: 810px;*/
    height: 400px;
}

.operation_cont_type li a {
    border-radius: 5px;
    /*border: 2px solid #d9eee1;*/
    background-color: #1ba58f;
    width: 200px;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 18px;
}

    .operation_cont_type li a:hover {
        background-color: rgb(3 237 255);
        color: black;
    }



.param_workers {
    /*border: 2px solid black;*/
    background: #2e5960;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

    .param_workers input {
        background-color: #d9eef7;
        width: 40%;
        margin: 20px;
    }

    .param_workers div {
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
    }


        .param_workers div button[type=submit] {
            width: 20%;
            background-color: #5bc63d;
            margin-bottom: 20px;
        }




Стиль для добавления работников



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins',sans-serif;
}

.popup {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in-out;
}

.popup-inner {
    position: relative;
    max-width: 800px;
    min-width: 500px;
    width: fit-content;
    height: fit-content;
    background-color: #24515c;
    /*transform: rotate(32deg);*/
    transition: .64s ease-in-out;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.closepopup {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: .875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #47BDFF;
    z-index: 4;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
}

    .closepopup:hover {
        text-decoration: none;
    }

.addingWorkerPopup {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
}

.popupinput li span {
    font-size: 20px;
    font-weight: 500;
}


.popupinput {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

    .popupinput li {
        display: flex;
        justify-content: left;
        flex-direction: column;
        min-width: 40%;
        padding: 10px;
        /*max-width: 100%;*/
        /*width: 100%;*/
        margin-top: 15px;
    }

        .popupinput li input {
            border-radius: 10px;
            border: 1px solid #b6def5;
            height: 50px;
            padding: 10px;
        }

        .popupinput li select {
            border-radius: 10px;
            border: 1px solid #b6def5;
            height: 50px;
            padding: 10px;
        }

.popup_button {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 20px;
}

.popupsubmit {
    width: 30%;
    min-width: 150px;
    border-radius: 20px;
    border: 0;
    height: 50px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: #fff;
}

    .popupsubmit:hover {
        background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }

.popupdelete {
    width: 30%;
    min-width: 150px;
    border-radius: 20px;
    border: 0;
    height: 50px;
    background: linear-gradient(90deg, rgba(217,20,124,1) 0%, rgba(232,15,15,1) 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

    .popupdelete:hover {
        background: linear-gradient(-90deg, rgba(217,20,124,1) 0%, rgba(232,15,15,1) 100%);
        color: #affff8;
        text-decoration: none;
    }

.popupclear {
    width: 30%;
    border-radius: 20px;
    border: 0;
    height: 50px;
    background: linear-gradient(135deg, rgba(219,113,230,1) 0%, rgba(209,8,8,1) 100%);
    color: #fff;
}

    .popupclear:hover {
        background: linear-gradient(-135deg, rgba(219,113,230,1) 0%, rgba(209,8,8,1) 100%);
    }

.div-contenet-table {
    margin-top: 50px;
}

    .div-contenet-table a {
        margin-right: 25px;
        float: right;
    }

.content-table {
    border-collapse: collapse;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 0.9em;
    min-width: 400px;
    width: Calc(100% - 50px);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

    .content-table thead tr {
        background-color: #387a7c;
        color: #f1f1f1;
        text-align: center;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
        text-align: center;
    }

    .content-table tbody tr {
        /*border-bottom: 1px solid #dddddd;*/
    }

        .content-table tbody tr:nth-of-type(even) {
            background-color: #2e5960;
        }

        .content-table tbody tr:last-of-type {
            border-bottom: 2px solid #537C38;
        }

        .content-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }

tbody tr:hover {
    background: #9f9f9f !important;
    cursor: pointer;
}




