<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" th:href="@{/css/reset.css}">

    <link th:href="${'https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'}" rel='stylesheet'>
    <!--    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-multiselect.css" th:href="@{/css/bootstrap-multiselect.css}">-->
</head>

<body class="d-flex justify-content-center align-items-center h-100" style="background: #1f454e;">
<div class="toast-container position-absolute bottom-0 end-0 p-3">
    <div class="toast" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="2000" id="toastPlacement">
        <div class="toast-body" id="toastMessage">
        </div>
    </div>
</div>

<main class="container shadow-lg p-3 m-5 bg-body rounded">
    <div class="modal-header">
        <span></span>
        <a href="/book" type="button" class="btn-close" aria-label="Close"></a>
    </div>
    <div class="row g-3 mb-1">
        <div class="col">
            <h4 class="text-info">Добавление книги</h4>
        </div>
    </div>
    <div class="row g-3 my-3">
        <div class="col form-floating">
            <input required type="text" class="form-control" id="bookName" name="bookName" placeholder="Название книги">
            <label for="bookName">Название книги</label>
        </div>
    </div>
    <div class="row g-3 my-3">
        <div class="col form-floating">
            <textarea required style="resize: none; height: 100px" class="form-control" id="bookDescription"
                      name="bookDescription" placeholder="Описание книги"
                      rows="5"></textarea>
            <label for="bookDescription">Описание книги</label>
        </div>
    </div>
    <div class="row g-3 my-3">
        <!-- Note the missing multiple attribute! -->
        <select id="example-multiple-selected">
            <option value="1">Option 1</option>
            <option value="2" selected="selected">Option 2</option>
            <!-- Option 3 will be selected in advance ... -->
            <option value="3" selected="selected">Option 3</option>
            <option value="4">Option 4</option>
            <option value="5">Option 5</option>
            <option value="6">Option 6</option>
        </select>
        <div class="col form-floating">
<!--            <input required type="text" class="form-control" id="bookName" placeholder="Категории">-->
            <select class="form-control" id="bookCategories" name="bookCategories" multiple="multiple">
                <option value="1">Cheese</option>
                <option value="2">Боевик</option>
                <option value="3">БоевикБоевик</option>
            </select>

            <label for="bookCategories">Категории</label>
        </div>
    </div>
    <div class="row g-3 my-3">
        <div class="col form-floating">
            <input required min="0" type="text" class="form-control" id="bookPrice" name="bookPrice" placeholder="Цена">
            <label for="bookPrice">Цена</label>
        </div>
        <div class="col form-floating">
            <input required min="0" type="number" class="form-control" id="bookCount" name="bookCount" placeholder="Количество">
            <label for="bookCount">Количество</label>
        </div>
    </div>
    <div class="row g-3 my-3">
        <div class="col form-floating d-flex flex-row-reverse">
            <button type="button" th:attr="onclick=|addBook()|"class="btn btn-outline-success">Добавить</button>
        </div>
    </div>
</main>
</body>



<script src="/static/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
<script src="/static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="/static/js/jquery-3.2.1.slim.min.js" th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
<!--<script src="/static/js/bootstrap-multiselect.js" th:src="@{/js/bootstrap-multiselect.js}"></script>-->


<script src="/static/js/add_book/add-book.js" th:src="@{/js/add_book/add-book.js}"></script>
</html>