<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/static/css/book/book.css" th:href="@{/css/book/book.css}">

    <th:block th:insert="~{fragments/nav-side :: link}"></th:block>
</head>
<body>
<div class="toast-container position-absolute bottom-0 end-0 p-3">
    <div class="toast" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="2000" id="toastPlacement">
        <div class="toast-body" id="toastMessage">
        </div>
    </div>
</div>

<div th:replace="~{fragments/nav-side :: div}">

</div>

<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Модалка 2</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Скройте это модальное окно и покажите первое с помощью кнопки ниже.
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Вернуться к первому</button>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Открыть первое модальное окно</a>
<main class="home-section">
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div th:each="el : ${books}" th:object="${el}" th:id="'bookId'+${el.id}"
                     class="col">
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalToggleLabel">Модалка 1</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Покажите второе модальное окно и скройте его с помощью кнопки ниже.
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Открыть второе модальное окно</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" th:id="'modalBook'+${el.id}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" th:text="${el.name}"></h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <span class=".text-black-50">Описание:</span>
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        <p th:text="${el.description}"></p>
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        <span class=".text-black-50">Категории:</span>
                                    </div>
                                    <hr/>
                                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                        <div th:each="category : ${el.categories}" class="col">
                                            <div class="card shadow-sm">
                                                <div class="card-body">
                                                    <p th:text="${category.name}" class="card-text"></p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <!--                                    <button type="button" class="btn btn-primary">Save changes</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:id="'itemBook' +${el.id}" class="card">
                        <div class="card-body" style="height: 140px;">
                            <p th:attr="onclick=|itemBookClick('${el.id}')|" class="card-text m-0 item-book"
                               style="direction: ltr; text-align: left;" th:text="*{name}"></p>
                            <hr/>
                            <div class="row">
                                <div class="col">
                                    <span th:text="'Цена: ' + *{price}" class="w-auto"/>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group" role="group" aria-label="First group">
                                    <button sec:authorize="hasAuthority('ADMIN')"
                                            th:attr="onclick=|itemBookDelete('${el.id}')|"
                                            type="button"
                                            class="btn btn-outline-danger btn-sm">Удалить
                                    </button>
<!--                                    th:attr="onclick=|itemBookEdit('${el.id}')|"-->
                                    <a sec:authorize="hasAuthority('ADMIN')"
                                            th:href="${'/update-book?bookId=' + el.id}"
                                            type="button"
                                            class="btn btn-outline-primary btn-sm">Изменить
                                    </a>
                                </div>
                                <div class="btn-group" role="group" aria-label="Second group">
                                    <button th:if="*{count > 0}" th:attr="onclick=|itemBookAddToBasket('${el.id}')|"
                                            type="button"
                                            class="btn btn-outline-success btn-sm">В корзину
                                    </button>
                                    <button  th:if="*{count <= 0}" disabled type="button" class="btn btn-outline-success btn-sm">В корзину
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<a sec:authorize="hasAuthority('ADMIN')" class="addBook" th:href="${'/add-book'}">
    <img th:src="@{/img/plus.png}" width="60" height="60"/>
</a>

</body>
<script src="/static/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
<script src="/static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="/static/js/jquery-3.2.1.slim.min.js" th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
<script src="/static/js/book/book.js" th:src="@{/js/book/book.js}"></script>

<th:block th:insert="~{fragments/nav-side :: head/script}"></th:block>
</html>