<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" th:href="@{/css/reset.css}">

    <link rel="stylesheet" type="text/css" href="/static/css/login/login.css" th:href="@{/css/login/login.css}">
</head>

<body class="d-flex justify-content-center align-items-center h-100">

<main class="container">
    <form action="/login" method="post" class="form-signin">
        <h1 class="h3 mb-3 fw-normal text-center">Авторизация</h1>

        <div class="form-floating">
            <input name="username" type="text" required class="form-control" id="username" placeholder="Логин">
            <label for="username">Логин</label>
        </div>
        <div class="form-floating">
            <input name="password" type="password" required class="form-control" id="password" placeholder="Пароль">
            <label for="password">Пароль</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
    </form>
</main>
</body>
</html>